*.o
*.lo
*.la
.*.swp
.deps
.libs
.dirstamp
*.a
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cscope.out
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
autom4te.cache

debian/*.log
debian/libtime0
build-stamp
configure-stamp
debian/files
debian/clockd.substvars
debian/clockd/
debian/libtime-dev.substvars
debian/libtime-dev/
debian/clockd-dbg.substvars
debian/clockd-dbg/
debian/libtime0.substvars
debian/libtime0.postinst.debhelper
debian/libtime0.postrm.debhelper
debian/tmp/

clockd/clockd
clockd/rclockd
clockd/libtime.pc
clockd/libtime-uninstalled.pc

m4/
