# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

debian/*.log
debian/libtime0
build-stamp
configure-stamp
debian/files
debian/clockd.substvars
debian/clockd/
debian/libtime-dev.substvars
debian/libtime-dev/
debian/clockd-dbg.substvars
debian/clockd-dbg/
debian/libtime0.substvars
debian/libtime0.postinst.debhelper
debian/libtime0.postrm.debhelper
debian/tmp/

clockd/clockd
clockd/rclockd
clockd/libtime.pc
clockd/libtime-uninstalled.pc

m4/
